body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set minimum height to 100% of the viewport height */

}

header {
    background-color: #4682B4;
    color: #fff;
    padding: 25px 0;
}

.header-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}


nav ul li a:hover {
    text-decoration: underline;
}


footer {
    background-color: #4682B4;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: auto; /* Push the footer to the bottom */
}


.dashboard-header h1 {
    color: #333;
    margin: 5px 0;
    
}
.dashboard-header {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.filter-section {
    padding: 10px;
    margin-bottom: 0px;
    
}

.filter-options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-wrap: wrap;

}

label {
    margin: 5px;
}

input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.transaction-table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
